.App-body {
	padding: 70px 20px;
	max-width: 768px;
	max-height: 1024px;
}
.App-displayText {
  	position: fixed; 
	bottom: 0; 
	left: 0; 
	right: 0;
	z-index: 1;
}
.App-displayTextGroup {
	flex-wrap: wrap;
}
.App-playerControls {
	position: fixed; 
	top: 0; 
	left: 0; 
	right: 0;
	z-index: 1;
}
.App-playerControlsRow {

}
.App-sliderLabel {

}
.App-slider {
	width: 200px;
}
.App-listItemSelected {
	background-color: rgba(0, 0, 0, 0.2);
}
.App-overlay {
	z-index: 9999;
	position: fixed; 
	top: 0; 
	left: 0; 
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: center;
	align-items: center;
}
.App-customTextRow,
.App-settingsRow,
.App-websiteRow  {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.App-buttonRow {
	display: flex;
	padding: 15px;
	justify-content: stretch;
}
.App-list {
	border: 1px solid rgb(217, 217, 217);
}